@font-face {
  font-family: 'roboto';
  src: url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* body {
  font-family: 'roboto', sans-serif;
}

.logo {
  position: relative;
  z-index: 10;
  width: 50%;
  min-width: 145px;
  max-width: 200px
}

.header .navbar a{
  margin:0 1rem;
  font-size: 16px;
}

.header .navbar a:hover{
  padding-bottom: .5rem;
}

.img {
  height: 80px;
}

.imgsize {
  width: 100%;
  height: calc(100vh - 100px);
} */

/* limpar apartir daqui */

.header{
  
  /* 7c7b7c */

    background: #f8fafd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: relative;
    top:0; left: 0; right: 0;
    z-index: 1000;
}
  
.header .logo img{
  position: relative;
  z-index: 10;
  min-width: 145px;
  max-width: 200px
}

.header .navbar a{
    margin:0 1rem;
    font-size: 19px;
    color: #7c7b7c;
}


.header .icons div{
    color: #7c7b7c;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

/* .header .icons div:hover{
    color:var(--main-color);
} */

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: black
}

.header .search-form label:hover{
  color: #558de2; 
}

.header .navbar a{
  text-decoration: none; 
  padding-bottom: 5px; 
  border-bottom: 2px solid transparent; 
  transition: border-bottom 0.5s; 
}

.header .navbar a:hover {
  color: #558de2; 
  border-bottom: 2px solid #558de2; 
}

.header .icons div{
  color:  #7c7b7c;
  cursor: pointer;
  font-size: 19px;
  margin-left: 2rem;
}

.header .icons div:hover{
  color: #558de2; 
}

.glide__slide {
  cursor: grab;
}

.dragging {
  cursor: grabbing;
}

.imgsize {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.container-marc{
  width: 90%;
  margin-left: 5%;
}

.carousel-products{
  margin-bottom: 75px;
}

.titulo{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
}

.js-carousel--simple-prev, .js-carousel--simple-next{
  border: none;
  background-color: #fff;
  font-size: 25px;
}

.img_glider{
  width: 250px;
  margin-right: 20px;
}

.img_glider:last-child{
  margin-right: 0;
}

.products-slides-description{
  margin-top: 5px;
}

/*.main{
 
}*/

.main{
  min-height: 60vh;
}
.main .content{
  display: flex;
  justify-content: space-between;
  gap: 20px;
 }

.main .texto-apresentacao{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main .img-flex{
  width: 50% ;
  align-items: center;
  justify-content: center;
}

.main .img-flex img{
  width: 100%;
}

.img-apresentacao{
  min-height: 100vh;
  background: url('../img/Wave1.png') no-repeat center;
  background-size: cover;
  display: flex;
  color: #fff;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 75px;
}

.img-apresentacao h3{
  margin: 20px;
}

.questions{
  background-color: #e7e7e7;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.questions a{
  display: inline-block;
  padding: 10px 20px;
  background-color: #e7e7e7;
  color: #007bff;
  text-decoration: none;
  border: 1px solid #007bff;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}
  
.questions a:hover{
  background-color: #0056b3;
}


